{% block extends %}
{{ "{% extends 'AdminPanelBundle:Default:index.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block content -%}" }}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{ entity }} list</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Titulo de la lista
            </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="{{ entity }}_list">
                <thead>
                    <tr>
                    {%- for field, metadata in fields %}

                        <th>{{ field|capitalize }}</th>

                    {%- endfor %}

                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {{ '{% for entity in entities %}' }}
                    <tr>

                {%- for field, metadata in fields %}
                    {%- if loop.first and ('show' in actions) %}

                        <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity."~ identifier ~" }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

                    {%- elseif metadata.type in ['date', 'datetime'] %}

                        <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

                    {%- else %}

                        <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                    {%- endif %}

                    {%- if loop.last %}

                        <td>
                            {%- include "crud/views/others/actions.html.twig.twig" %}
                        </td>

                    {%- endif %}
                {%- endfor %}

                    </tr>
                {{ '{% endfor %}' }}
                </tbody>
            </table>
            {% if 'new' in actions %}
            <ul>
                <li>
                    <a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}">
                        Create a new entry
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>
        </div>
    </div>
</div>
{{ "{% endblock %}" }}

{{ "{% block java_scripts -%}" }}
<script>
    $(document).ready(function() {
        $('#{{ entity }}_list').dataTable();
    });
</script>
{{ "{% endblock %}" }}
{% endblock body %}
